footer.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.login-container {
    margin: 0 auto !important;
    float: none !important;
    display: block;
}

.login-container .card-container{
    padding: 0px;
    margin-top: 50px;
}

.login-container .tabs .tab a.active {
    color: #fff;
}

.login-container .tabs .tab a {
    color: #869dc1;
}

.login-container .tabs .indicator {
    background-color: #a7c7f9;
}
div#loginPanel, div#signupPanel, div#sentPanel, div#recivedPanel {
    padding: 50px;
}
div#sentPanel, div#recivedPanel {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-full {
    width: 100%;
}
.card-panel-title {
    margin: 0px !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    border-bottom: 2px solid #a7c7f9;
}
.send-money-container {
    padding: 25px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-text-fill-color: #000 !important;

}

div#siteMessage {
    height: 200px;
}

h4#modalTitle {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

p#modalText {
    text-align: center;
    margin-top: 30px;
}
#dropdown1 li a{
        line-height: 35px;
}
p.no-record-message {
    text-align: center;
    color: #ccc;
}